body {

    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
}

header {
    text-align: center;
    background: #0077cc;
    color: white;
    padding: 1rem 0;
}

h1 {
    margin: 0;
}

h2 {
    border-bottom: 2px solid #0077cc;
    color: #0077cc;
    padding-bottom: 0.5rem;
}

section {
    margin: 20px;
    padding: 10px 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Thin gray line */
}

li:last-child {
    border-bottom: none; /* Remove the border for the last item */
}
.two-columns {
    display: flex; /* Creates a flex container */
    gap: 20px; /* Adds space between columns */
}

.column {
    flex: 1; /* Each column takes equal space */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
.anti-highlight {
    font-weight: normal; /* Removes boldness */
    color: #535353; /* Dark gray text */
    opacity: 0.7; /* Light gray text */
}
